@mixin breakpoint($media) {
  @if $media == mobile {
    @media (min-width: $phone-min) and (max-width: $phone-max) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $phone-max + 1) and (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop + 1) { @content; }
  }
}
/*
Usage:
  @include breakpoint(mobile) {
    ...
  }
*/
